<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
    </head>
<body>
    {% include "components/menuAdmin.twig" %}

    <section>
        <h1>Posts</h1>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width:20%">Data de Postagem</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th style="width:10%">Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for key, content in data %}
                <tr>
                    <td>{{key + 1}}</td>
                    <td>{{content.created_at}}</td>
                    <td>{{content.titulo}}</td>
                    <td>{{content.user_post}}</td>
                    <td class="cel__icons">
                        <ul>
                            <li>
                                <a href="/admin/posts/edit/{{content.id}}"><ion-icon class="icon" name="create"></ion-icon></a>
                            </li>
                            <li>
                                <a href="#"><ion-icon class="icon" name="trash"></ion-icon></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script src="/public/js/admin.js"></script>
    {% include "scripts/icons.twig" %}
</body>