<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.twig" %}
        <link rel="stylesheet" href="/public/css/admin.css">
        {% include "utils/login.css.twig" %}
    </head>
<body>
    <main>
        {% include "components/menuAdmin.twig" %}

        <section>
            <h1>Posts</h1>

            <div class="posts__list">
                {% for key, content in data %}
                    <div class="post__item">
                        <div class="post_info">
                            <div class="title">
                                {{content.titulo}}
                            </div>
                            <div class="user">
                                <span>Autor: </span>{{content.user_post}}
                            </div>
                            <div class="post_data">
                                <span>Data de Postagem: </span>{{content.created_at}}
                            </div>
                        </div>
                        <div class="actions">
                            <ul>
                                {% if "editar_post" in user_acessos %}
                                <li>
                                    <a href="/admin/posts/edit/{{content.id}}">
                                        <span class="material-symbols-outlined" name="create">
                                            edit_square
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if "apagar_post" in user_acessos %}
                                <li>
                                    <a href="/admin/posts/delete/{{content.id}}">
                                        <span class="material-symbols-outlined" name="trash">
                                            delete
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <script src="/public/js/admin.js"></script>
    {% include "scripts/icons.twig" %}
</body>